<br><br><br>
<div class="container">
    <div class="mypage">
        <h2>My Page</h2>
        <hr>
        id: <%= @user.id  %><br>
        <%= link_to '정보 수정하기', edit_user_registration_path , :style => 'float: right; font-size: 1.3em;'%> 
        <h3><%= @user.email %></h3><br>
        
        <section>
        <h4 style="text-align: center">| Solo 사진 |</h4>
            <% @user.boards.where(:boardCategory => 'Solo').each do |a| %>
                <%= link_to image_tag(a.board_image_url, :style => "width: 300px; height: 300px" ), board_path(a.id)%>
            <% end %>
        </section>
        
        <section>
        <h4 style="text-align: center">| Duo 사진 |</h4>
            <% @user.boards.where(:boardCategory => 'Duo').each do |a| %>
                <%= link_to image_tag(a.board_image_url, :style => "width: 300px; height: 300px" ), board_path(a.id)%>
            <% end %>
        </section>
        
        <section>
        <h4 style="text-align: center">| Squad 사진 |</h4>
            <% @user.boards.where(:boardCategory => 'Squad').each do |a| %>
                <%= link_to image_tag(a.board_image_url, :style => "width: 300px; height: 300px" ), board_path(a.id)%>
            <% end %>
        <section>
            
        <br><br><br><br><br>
        <hr>
        
     </div>
 </div>
