<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%#= link_to image_tag('bgchicken2.png'), root_path, id: 'logo',class: "navbar-brand page-scroll"%> 
      <a class="navbar-brand" href="<%= root_path %>">
        <!--<img src="<%#= image_url 'bgchicken1.png' %>" alt="Smiley face" width="150" height="30">-->
        <h1 style="margin-top : 0; color: #ff9100">배그<span class="txt-rotate" data-period="1500" data-rotate='[ "치킨.", "chicken." ]'> 치킨</span></h1>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="/">이번주 랭킹</a></li>-->
        <li><a href="/#service_introduce3">참여방법</a></li>
        <li><a href="/boards">사진구경</a></li>
        <li><a href="/boards/new">사진등록</a></li>
        <li class="dropdown">
          <% if user_signed_in? %>  
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span id="user_name"><%= current_user.email%></span>
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'My Page', my_page_path(current_user.id) %></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% else %>
            <%= link_to 'Log in', new_user_session_path, id: 'header_add', class: "page-scroll"  %>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
>

<script>
var TxtRotate = function(el, toRotate, period) {
  this.toRotate = toRotate;
  this.el = el;
  this.loopNum = 0;
  this.period = parseInt(period, 10) || 2000;
  this.txt = '';
  this.tick();
  this.isDeleting = false;
};

TxtRotate.prototype.tick = function() {
  var i = this.loopNum % this.toRotate.length;
  var fullTxt = this.toRotate[i];

  if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
  } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
  }

  this.el.innerHTML = '<span class="wrap">'+'&ensp;'+this.txt+'</span>';

  var that = this;
  var delta = 300 - Math.random() * 100;

  if (this.isDeleting) { delta /= 2; }

  if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
  } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
  }

  setTimeout(function() {
    that.tick();
  }, delta);
};

window.onload = function() {
  var elements = document.getElementsByClassName('txt-rotate');
  for (var i=0; i<elements.length; i++) {
    var toRotate = elements[i].getAttribute('data-rotate');
    var period = elements[i].getAttribute('data-period');
    if (toRotate) {
      new TxtRotate(elements[i], JSON.parse(toRotate), period);
    }
  }
  // INJECT CSS
  var css = document.createElement("style");
  css.type = "text/css";
  css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
  document.body.appendChild(css);
};
</script>