        <div class="board_form">
                <div class="container">
                        <br><br><br>
                        
                       
                        <%= image_tag @board.board_image_url.url , :style => "display: block; width: 400px; height: 400px"%>
                        <br>
                        <h4>BGID: <%= @board.boardUserBGID %></h4>
                        <br>
                        <h4>소감: </h4>
                        <h5><%= @board.boardContent %></h5>
                        <br>
                        <h4>시간 : <%= Time.at(@board.board_create_time + (3600*9)) %></h4>
                        <br>
                        <h5>현재상태 : 
                                <% if @board.board_private == true %>
                                        비공개
                                <% else %>
                                        공개
                                <% end %>
                        </h5>
                        <% if current_user != nil %>
                                <% if @board.user_id == current_user.id %>
                                        <%= form_tag("/boards/private/#{@board.id}", method: 'post') do %>        
                                                <br>
                                                <span style="margin: auto">공개</span>
                                                <label class="switch">
                                                  <input type="hidden" name="private_value" value=false />
                                                  <input type="checkbox" name="private_value" value=true />
                                                  <span class="slider round"></span>
                                                </label>
                                                <span style="margin-bottom: 5px">비공개</span>
                                                &nbsp;&nbsp;
                                                <input class="btn" type="submit" value="저장">
                                                <%#= submit_tag '저장' %>
                                        <% end %>
                                <% end %>
                        <% end %>
                </div>
        </div>
        
       