<!DOCTYPE html>
<html>
<head>
  <title>배그 치킨</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
  
  <!--jquery CDN-->
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  
  <!--font-awesome아이콘-->
  <script src="https://use.fontawesome.com/7c8a3920f5.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "home/header" %>

<%= yield %>


</body>
</html>
